*{margin :0;
padding:0;
}


.page-d-accueil .header {
    position: absolute;
    width: 100%;
    height: 123px;
    top: 0;
    left: 0;
    background-color: black;
    overflow: hidden;
  }

.page-d-accueil .overlap-3 {
    position: absolute;
    width: 100%;
    height: 123px;
    top: 0;
    left: 0;
    background-color: #000000;
  }

.header .logo {
    width: 27%;
    margin-left: 4%;
    margin-top: 3%;
}

.page-d-accueil .text-wrapper-3 {
    position: absolute;
    width: 150px;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    color: #ffffff;
    font-size: 31px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  .Accueil {
    background-color: #000000;
    border: 2px solid BLACK;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 300%;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    margin-left: 20%;
    min-height: 60px;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 11%;
    will-change: transform;
    text-decoration: none;
    background: linear-gradient(to top, #FFD700 0%, #FFD700 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
  }
  
  .Accueil:disabled {
    pointer-events: none;
  }
  
  .Accueil:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    color: #FFD700;
    background-size: 100% 100%;
  }
  
  .Accueil:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  
  
  .page-d-accueil .text-wrapper-4 {
    position: absolute;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .Catégories {
    background-color: #000000;
    border: 2px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 300%;
    font-weight: 600;
    line-height: normal;
    margin-left: 60%;
    min-height: 60px;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 16%;
    will-change: transform;
    text-decoration: none;
    background: linear-gradient(to top, #FFD700 0%, #FFD700 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
  }
  
  .Catégories:disabled {
    pointer-events: none;
  }
  
  .Catégories:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    color: #FFD700;
    background-size: 100% 100%;
  }
  
  .Catégories:active {
    box-shadow: none;
    transform: translateY(0);
  }
  
  
  
  
  .page-d-accueil .text-wrapper-5 {
    position: absolute;
    width: 160px;
    top: 30px;
    left: 84%;
    font-family: "Inter", Helvetica;
    font-weight: 600;
    font-style: italic;
    color: #ffffff;
    font-size: 24px;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
    
  }
  
  
  .Contact {
    background-color: #000000;
    border: 2px solid black;
    border-radius: 15px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    font-size: 300%;
    font-weight: 600;
    line-height: normal;
    margin: 0;
    min-height: 60px;
    min-width: 0;
    outline: none;
    text-align: center;
    text-decoration: none;
    transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    width: 13%;
    will-change: transform;
    text-decoration: none;
    background: linear-gradient(to top, #FFD700 0%, #FFD700 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
    transition: background-size .5s;
  }
  
  .Contact:disabled {
    pointer-events: none;
  }
  
  .Contact:hover {
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
    color: #FFD700;
    background-size: 100% 100%;
  }
  
  .Contact:active {
    box-shadow: none;
    transform: translateY(0);
  }
.videopage{
    height: 100%;
    width: 100%;
    background: #3085d6;
    display: flex;		
    flex-wrap: wrap;
}

.videopage .video{
    background-color: rgb(255, 255, 255);
    width: 50%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.carre{
    width: 100%;
    height: 70%;    
}

.test{
    background-color: black;
    width: 90%;
    height: 70%;
    border-radius: 50px;
}

.test:hover{
    box-shadow: 10px 5px 5px grey;
    cursor: pointer;
}