
.page-d-accueil {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.page-d-accueil .div {
  background-color: #ffffff;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
}

.page-d-accueil .overlap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 16%;
  left: 0;
  background-image: url(img/adam.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.page-d-accueil .overlap-group {
  position: absolute;
  width: 15%;
  height: 10%;
  top: 68%;
  left: 83%;
  background-color: #ffffff99;
  border-radius: 0px 60px 60px 60px;
}

.page-d-accueil .text-wrapper {
  position: absolute;
  top: 50%;
  left: 28%;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #2a2a2a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page-d-accueil .text-wrapper-2 {
  position: absolute;
  top: 18%;
  left: 10%;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #2a2a2a;
  font-size: 20px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.page-d-accueil .overlap-2 {
  position: absolute;
  width: 20%;
  height: 112%;
  top: 70%;
  left: 40%;
}



.page-d-accueil .header {
  position: absolute;
  width: 100%;
  height: 123px;
  top: 0;
  left: 0;
  background-color: transparent;
  overflow: hidden;
}

.page-d-accueil .layer {
  position: absolute;
  width: 112px;
  height: 113px;
  top: -1106px;
  left: -6799px;
}

.page-d-accueil .overlap-3 {
  position: absolute;
  width: 100%;
  height: 123px;
  top: 0;
  left: 0;
  background-color: #000000;
}

.page-d-accueil .logo {
  position: absolute;
  width: 8%;
  height: fit-content;
  left: 4.5%;
}
.page-d-accueil .logo:hover{
  filter: invert(55%) sepia(33%) saturate(3916%) hue-rotate(355deg) brightness(105%) contrast(109%);
}

.page-d-accueil .champ{
  background-color: transparent;
  border-color: transparent;
  margin-top: 9px;
  margin-left: 43px;
  font-size: 27px;
  border: none; 
  border-width: 0; 
  box-shadow: none;
}

.page-d-accueil .text-wrapper-3 {
  position: absolute;
  width: 150px;
  top: 30px;
  left: 53%;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 31px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}
.Accueil {
  background-color: #000000;
  border: 2px solid BLACK;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 110%;
  font-weight: 600;
  line-height: normal;
  margin: -3.5%;
  margin-left: -60%;
  min-height: 60px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  text-decoration: none;
  background: linear-gradient(to top, #FFD700 0%, #FFD700 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size .5s;
}

.Accueil:disabled {
  pointer-events: none;
}

.Accueil:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  color: #FFD700;
  background-size: 100% 100%;
}

.Accueil:active {
  box-shadow: none;
  transform: translateY(0);
}



.page-d-accueil .text-wrapper-4 {
  position: absolute;
  top: 30px;
  left: 73%;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.Catégories {
  background-color: #000000;
  border: 2px solid black;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 200%;
  font-weight: 600;
  line-height: normal;
  margin-left:60%;
  margin-top: 1.8%;
  min-height: 60px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 11%;
  will-change: transform;
  text-decoration: none;
  background: linear-gradient(to top, #FFD700 0%, #FFD700 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size .5s;
}

.Catégories:disabled {
  pointer-events: none;
}

.Catégories:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  color: #FFD700;
  background-size: 100% 100%;
}

.Catégories:active {
  box-shadow: none;
  transform: translateY(0);
}




.page-d-accueil .text-wrapper-5 {
  position: absolute;
  width: 160px;
  top: 30px;
  left: 84%;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
  
}


.Contact {
  background-color: #000000;
  border: 2px solid black;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 130%;
  font-weight: 600;
  line-height: normal;
  min-height: 60px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin-top: -1%;
  margin-left: -100%;
  will-change: transform;
  text-decoration: none;
  background: linear-gradient(to top, #FFD700 0%, #FFD700 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size .5s;
}

.Contact:disabled {
  pointer-events: none;
}

.Contact:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  color: #FFD700;
  background-size: 100% 100%;
}

.Contact:active {
  box-shadow: none;
  transform: translateY(0);
}


.Connexion{
  background-color: #000000;
  border: 2px solid black;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 130%;
  font-weight: 600;
  line-height: normal;
  min-height: 60px;
  min-width: 0;
  margin-left: -30%;
  margin-top: 0%;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  text-decoration: none;
  background: linear-gradient(to top, #FFD700 0%, #FFD700 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size .5s;
}

.Connexion:disabled {
  pointer-events: none;
}

.Connexion:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
  color: #FFD700;
  background-size: 100% 100% ;
}

.Connexion:active {
  box-shadow: none;
  transform: translateY(0);
}


.text-wrapper-6 {
  position: absolute;
  width: 180px;
  top: 30px;
  left: 89%;
  font-family: "Inter", Helvetica;
  font-weight: 600;
  font-style: italic;
  color: #ffffff;
  font-size: 24px;
  letter-spacing: 0;
  line-height: normal;
}


.Explorer {
  appearance: none;
  background-color: #2a2a2a;
  border: 0px;
  border-radius: 60px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 31px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
  box-shadow: none;
}

.Explorer:disabled {
  pointer-events: none;
}
.Explorer:hover {
  color: black;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.Explorer:active {
  box-shadow: none;
  transform: translateY(0);
}


.sidenav{
  overflow: hidden;
  background-color: black;
  max-width: 30%;
  border-radius: 36px;
  margin-left: 51.2%;
  margin-top: -6%;
  transition: bottom 0.5 ease 0 ;
}

.sidenav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.sidenav li {
  float: left;
}

.sidenav li a {
  display: block;
  color: white;
  padding: 16px;
  text-decoration: none;
  font-family: "Inter", Helvetica;
  font-weight: 200;
}

.sidenav li a:hover {
  background-color:#FFD700;
  color: black;
}
.sidenav.active {
  margin-top: 1%;
}
.sidenav .close {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
}



.sidenav2{
  margin-left: -100%;
  margin-top: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Utilisation de RGBA pour spécifier l'opacité */
  color: white; /* Couleur du texte */
  font-style: italic;
  padding: 20px; /* Marge intérieure pour le contenu */
  border-radius: 36px;
  max-width: 30%;
  font-size: 25px;
}

.sidenav2.active {
  margin-top: 8%;
  margin-left: 8%;
}


.sidenav2 .close2 {
  margin-left: 97%;
  color: white;
  cursor: pointer;
}

.sidenav2 .close2:hover{
  color: #FFD700;
}

.lien_ref{
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  background: linear-gradient(to top, #FFD700 0%, #FFD700 10%, transparent 10.01%) no-repeat left bottom / 0 100%;
  transition: background-size .5s;
}

.lien_ref:hover{
  color: #FFD700;
  background-size: 100% 100%;
}