.text h1 {
    margin: 20px 0px 20px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ab6da6;
    text-shadow: 1px 4px 0px #A3A3A3;
}

.text p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
    color: white;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #ab6da6;
    text-shadow: 0px 0.9px 0px #A3A3A3;
}

.secondband {
    background: #272727;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.text2 {
    width: 70%;
    height: auto;
    padding: 1em;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative; /* Ajoute une position relative pour positionner la section commentaire */
    transition: margin-bottom 0.3s ease; /* Ajoute une transition pour une animation fluide */
}

.text2 h1 {
    margin: 20px 0px 20px 0px;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #f154ff;
    text-shadow: 1px 1px 3px #000000;
}

.bubble {
    margin-bottom: 2rem;
    position: relative;
    width: auto;
    margin-top: 2rem;
    min-width: 70%; /* Taille minimale de la bulle */
    max-width: 70%; /* Taille maximale de la bulle */
    height: auto;
    border-radius: 20px;
    background-color: #eaeaea;
    padding: 10px;
    overflow: hidden; /* Empêche le dépassement du contenu */
    word-wrap: break-word; /* Permet le retour à la ligne dans le texte long */
    margin-bottom: 20px; /* Ajoute une marge basse pour la séparation */
}

.text2 p {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 30px;
    margin-top: 1rem;
    color: #000000;
    display: flex;
    flex-direction: column;
    text-align: start;
    position: relative;
}

.comments-container {
    width: 100%;
    height: auto;
    display: none; /* Pour masquer initialement la section commentaire */
    position: absolute;
    top: 90%; /* Positionne la section commentaire en dessous du cadre */
    left: 0;
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: translateY(100%); /* Cache initialement la section commentaire en la déplaçant en dessous */
}

.text2.open-comments {
    margin-bottom: 15rem; /* Décale les autres cadres vers le bas lorsque la section commentaire est ouverte */
}

@media (max-width: 768px) {
    .comments-container {
        width: 90%; /* ajuste la largeur pour les appareils de petite taille */
        right: 5%; /* aligne à droite avec un décalage de 5% */
        transform: translate(0, -50%);
    }
}

.buttons {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px; /* Ajout de marges pour l'espacement entre les boutons et le cadre */
    right: 1rem;
    bottom: 1rem    ;
    position: absolute;
}

.buttons button {
    margin-top: 10px;
    margin-right: -5px; /* Ajoute une marge entre les boutons */
    padding: 10px 20px;
    background-color: #f154ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #ab6da6;
}

.content {
    display: flex;
}

.logo2 img {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%; 
    border-radius: 10%;
    object-fit: cover;
}

.logo2 {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    height: 100%; /* Ajustez la hauteur du cadre selon vos besoins */

}


body, h1, p, div, img {
    margin: 0;
    padding: 0;
}

/* Conteneur principal */
.container {
    display: flex;
    justify-content: center; /* Centre horizontalement */
    align-items: center; /* Centre verticalement */
    flex-direction: column; /* Pour aligner les cadres verticalement */
    position: relative;
}
